#distance
	position relative
	margin 0 auto
	max-width 80rem

	article
		position relative
		margin 0 auto
		max-width $column-width
		width 90%
		pointer-events none

	.step
		margin 0 auto
		margin-bottom 1rem
		min-height 320px
		opacity 0.5
		transition opacity 250ms ease-in-out

		&:last-of-type
			margin-bottom 0

		&.is-active
			opacity 1

		p
			margin 0
			padding 1rem
			border 2px solid $fg
			background-color rgba($bg, 0.9)
			set-type-size(small)

			+mq('bp-4')
				set-type-size(large)

	figure
		position sticky
		top 0
		left 0
		z-index 0
		margin 0 auto
		min-height 480px
		width 90%
		transform translate3d(0, 0, 0)

	.figure__chart
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		pointer-events none

		&.is-active
			pointer-events auto

			rect
				cursor pointer

	.arc path
		fill none
		stroke $fg
		stroke-width 2px

	.hist rect
		stroke $fg
		stroke-width 2px
		fill $secondary

		&.is-highlight
			fill $primary

	.g-axis
		path
			display none

	.figure__tooltip
		position absolute
		visibility hidden
		padding 0.5rem 1rem
		width 15rem
		border 2px solid $fg
		background $bg
		color $fg
		font-family $sans-display
		pointer-events none

		&.is-visible.is-active
			visibility visible

		&.is-mobile
			top 55%
			left 50%
			transform translate(-50%, -50%)

		p
			margin 0
			set-type-size(small)

		span
			font-weight bold