#distance
	position relative
	margin 0 auto
	max-width 80rem

	article
		position relative
		margin 0 auto
		max-width $column-width

	.step
		margin 0 auto
		margin-bottom 1rem
		min-height 320px
		opacity 0.5
		transition opacity 250ms ease-in-out

		&:last-of-type
			margin-bottom 0

		&.is-active
			opacity 1

		p
			margin 0
			padding 1rem
			set-type-size(large)
			border 1px solid $fg
			background-color rgba($bg, 0.9)

	figure
		position sticky
		top 0
		left 0
		z-index 0
		margin 0
		width 100%
		height 90vh
		transform translate3d(0, 0, 0)

	.arc path
		fill none
		stroke $fg

	.hist rect
		stroke $bg
		fill $fg