#intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem
	font-family $sans-display

	.intro__hed
		margin 0 auto
		padding 1rem
		max-width $column-width
		text-align left
		set-type-size(large)

		+mq('bp-4')
			set-type-size(xxx-large)
			line-height 1

	.intro__dek
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center

	.intro__byline
		margin 0 auto
		padding 0 1rem
		max-width $column-width
		text-align left

	.intro__time
		display block
		margin 0 auto
		padding 0 1rem
		max-width $column-width
		text-align left
		set-type-size(small)

	.intro__prelude
		font-family $serif