/* CUSTOM STORY STYLE */
body
	overflow-x hidden

p
	set-type-size(medium)

	+mq('bp-6')
		set-type-size(large)

a
	border-bottom 2px solid $primary

	&:hover
		background-color $primary

svg
	display block

	text
		set-type-size(xx-small)
		font-family $sans-display
		fill $gray-dark

		+mq('bp-4')
			set-type-size(x-small)

mark
	padding 0 0.25em
	background-color $primary

#outro
	margin-top 5rem

	.prose
		border-top 2px solid $fg
		font-family $sans

		p
			set-type-size(small)

			+mq('bp-4')
				set-type-size(root)