#timeline
	margin 0 auto
	max-width 80rem

	.timeline__intro
		margin 2rem auto
		padding 1rem
		max-width $column-width

	.intro__hed
		margin 0
		font-family $sans-display
		set-type-size(x-large)
		padding 1rem 0
		line-height 1

		+mq('bp-4')
			set-type-size(xx-large)

	.intro__dek
		margin 0

	.legend
		margin 0 auto

	.legend__desktop
		display none

		+mq('bp-4')
			display block
			max-width 660px

	.legend__mobile
		display block
		max-width 300px

		+mq('bp-4')
			display none

	.author__figure
		margin 0 auto 2rem auto
		padding 0 1rem

	.figure__chart
		margin 0 auto
		max-width 60rem
		height 300px

		&.vertical
			max-width 30rem
			height 450px

	.g-axis
		path
			display none

	.author__info
		margin 0 auto
		margin-top 2rem
		padding 1rem
		max-width $column-width
		text-align center

	.info__name
		margin 0
		font-family $sans-display
		set-type-size(x-large, false)

		+mq('bp-4')
			set-type-size(xx-large, false)

	.info__lifespan
		margin 0
		color $gray-dark
		font-family $sans-display

	.author__text
		margin 0 auto
		padding 1rem
		max-width $column-width
		set-type-size(small)

		+mq('bp-4')
			set-type-size(medium)

	.author__numbers
		opacity 1
		fill $bg

		&.always-hidden
			opacity 0

		&.is-hidden
			opacity 0

	rect.author__location
		opacity 1
		fill $secondary
		stroke-width 2px
		stroke $fg

		&.match
			opacity 1

		&.is-dimmed
			opacity 0.5

	path.connection__lived
		opacity 1
		fill none
		stroke-width 2px
		stroke $fg

		&.is-hidden
			opacity 0

		&.is-dimmed
			opacity 0.2

	.book
		opacity 1
		cursor pointer

		&.is-dimmed
			opacity 0.2

		&__never
			opacity 1
			pointer-events none
			fill $red

			&.is-dimmed
				opacity 0.2

	.group__never
		opacity 1

		&.is-hidden
			opacity 0

	.cities__lived
		opacity 1

		&.is-hidden
			opacity 0

	.tooltip__container
		position relative
		display flex
		justify-content center
		margin 0 auto
		margin 0 auto
		padding 0.5rem 1rem
		min-height 120px
		max-width 30rem
		width 100%

	.figure__prompt
		position absolute
		margin 0 auto
		opacity 1

		p
			color $gray-dark
			font-family $sans-display
			set-type-size('root')

		&.is-hidden
			opacity 0

	.figure__tooltip
		position absolute
		padding 0.5rem 1rem
		width 100%
		height 100%
		border 2px solid $fg
		background $bg
		color $fg
		font-family $sans-display
		opacity 1
		pointer-events none

		&.is-hidden
			opacity 0

		p
			margin 0
			set-type-size(small)

		span
			font-weight bold

		.residential
			span
				display inline-block

		.inner__color
			width 0.5rem
			height 0.5rem

	.rect__hover
		opacity 0
