<section id='distance' data-js='distance'>
	<figure data-js='distance__figure'></figure>
	<article>
		{{#each doc.distance}}
			<div class='step' data-step='{{step}}'>
				<p>{{{text}}}</p>
			</div>
		{{/each}}
	</article>
</section>